.ArrowRight,
.ArrowLeft {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ArrowRight:hover svg,
.ArrowLeft:hover svg {
  fill: #0C0743;
}

.ArrowRight:hover path,
.ArrowLeft:hover path {
  fill: #ffffff;
}
