.ArrowRight,
.ArrowLeft {
  position: absolute;
  top: calc(50% - 45px);
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateY(calc(-50% + 22px));
  cursor: pointer;
  outline: none;
}

.ArrowLeft {
  left: 0;
}

.ArrowRight {
  right: 0;
}

.ArrowRight:hover svg,
.ArrowRight:focus svg,
.ArrowLeft:hover svg,
.ArrowLeft:focus svg {
  fill: #0C0743;
}

.ArrowRight:hover path,
.ArrowLeft:hover path,
.ArrowRight:focus path,
.ArrowLeft:focus path {
  fill: #ffffff;
}

.ArrowRight:active svg,
.ArrowLeft:active svg {
  fill: #3D0469;
}
