.header {
  width: 100%;
  padding: 30px 0 70px;
  color: #ffffff;
  background-color: #0C0743;
  background-image: url('img/sky-texture.jpg');
  background-repeat: repeat;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.02em;
}

.header__icon-list {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.header__icon-link {
  display: inline-block;
  /* margin: 0 14px 0 0; */
}

.header__icon-link:hover path,
.header__icon-link:hover g {
  fill: rgba(255, 255, 255, 0.6);
}

.header__icon-link:active path,
.header__icon-link:active g {
  fill: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1279px) {
  .header__title  {
    margin-left: 4%;
  }

  .header__icon-list {
    margin-right: 4%;
  }
}

@media (max-width: 899px) {
  .header {
    padding: 25px 0 53px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__icon-list {
    width: 120px;
  }

  .header__icon-link svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    padding: 25px 15px;
    text-align: center;
  }
  .header .container {
    display: block;
  }

  .header__title {
    margin: 0 auto 15px;
    font-size: 22px;
  }

  .header__icon-list {
    margin: 0 auto;
  }
}
